@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
      font-family: "Roboto", sans-serif;
}

/* .container{
    display: grid; */
    /* grid-template-columns: 200px 200px 200px; */
    /* grid-template-columns: 250px 250px 300px; */
    /* grid-template-columns: 50% 20% 25%; */
    /* grid-template-columns: 1fr 3fr 1fr; */
    /* grid-template-columns: repeat(3, auto); */
    /* grid-template-columns: repeat(3, 200px); */
    /* grid-template-columns: repeat(3, 25%); */
    /* grid-template-rows: 80px 80px 80px; */
    /* grid-auto-rows: 80px; */
    /* grid-auto-rows: minmax(80px, auto); */
    /* gap: 10px; */
    /* row-gap: 20px;
    column-gap: 10px;
    margin: 40px;
} */
/* 
.item{
    background-color: rebeccapurple; */
    /* margin: 10px; */
    /* padding: 10px;
    font-size: 20px;
    color: white;
} */

/* .item1{ */
     /* grid-row-start: 1;
    grid-row-end: 3;  */
    /* grid-row: 1 / 3; */
     /* grid-column-start: 1;
    grid-column-end: 3; */
    /* grid-column: 1 / 3; */
    /* grid-area: 1 / 1 / 3 / 3;
} */

div{
    width: 100%;
    height: 100px;
    background-color: blue;
}